body
{
	background:#eee;
	background-image:url("5.jpeg");
}
#form
{
	border:solid gray 1px;
	width:20%;
	border-radius:5px;
	margin:100px auto;
	background:white;
	padding:50px;
	opacity:0.75;
	filter:alpha(opacity=50);
}
#btn
{
	color:#fff;
	background:#337ab7;
	padding:5px;
	margin-left:69%;
}	